<article class="review">
  <table>
    <tr class="username">
      <td><%= review.user.first_name %></td>
    </tr>
    <tr class = "description">
      <td><%= review.description %></td>
    </tr>
    <tr class="rating">
      <td><%= review.rating %></td>
    </tr>
</article>