<section class="products-index">

  <header class="page-header">
    <h1>Products</h1>
  </header>

<% unless flash.empty? %>
  <div class="alert alert-success">
    <ul>
      <% flash.keys.each do |k| %>
        <li><%= flash[k] %></li>
      <% end %>
    </ul>
  </div>
<% end %>

  <div class="products">
    <%= render @products %>
  </div>

</section>
